:root {
  --bg: #D5DDBC;
  --disabledBtn: #AA9190;
  --enabledBtn: #931F1D;
  --pageColor: #000000; 
  --btnColor: #D5DDBC;
  --pageFont: "IM FELL Great Primer SC";
  --jokeFont: "Inter";
  --sizeLarge: 49px;
  --sizeMedium: 25px;
  --sizeSmall: 20px;

  font-family: var(--pageFont);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color);
  background-color: var(--bg);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "IM FELL Great Primer SC";
  src: url(../assets/fonts/pageFont.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/jokeFont.ttf);
}

.flexCol{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regular{
  font-weight: 400;
}